body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: #222;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#products,
#cartItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    padding: 20px;
}

.card {
    background: white;
    width: 280px;
    padding: 15px;

    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    background: #007bff;
    color: white;

    border: none;

    padding: 10px 15px;

    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

input {
    width: 250px;
    padding: 10px;
    margin: 5px;
}

a {
    text-decoration: none;
}